#card-color{
    background-color: #B394A4;
    border-radius: 30px 30px 30px 30px;
    
}
#lol{
    background-color: whitesmoke;
}
#carousel1{
    border: black;
}
/* #card-size{
    justify-content: space-between;
} */